@model FogonParillero.ViewModel.ProductoViewModel

@{
    ViewData["Title"] = "Lista De Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Estilos para la tabla con scroll */
    .tabla-scroll {
        max-height: 80vh; /* Altura máxima de la tabla */
        overflow-y: auto; /* Agregar scroll vertical si es necesario */
    }
</style>

<div class="flex h-screen">
    <!-- Menú Lateral -->
    @Html.Partial("_MenuLateral")

    <!-- Contenido principal -->
    <div class="flex-1 flex flex-col">
        <div class="bg-transparent-800 text-black p-4 flex justify-between items-center">
            <div class="flex">
                <a href="/mesa" class="text-xl mr-12 ml-6 font-bold text-gray-700">Mesa</a>
                <a href="/ventas" class="text-xl mr-12 font-bold text-gray-700 opacity-60">Ventas</a>
            </div>
        </div>
        <!-- Encabezado y filtros -->
        <div class="bg-transparent-800 text-white p-4 flex justify-between items-center">
            <h1 class="text-2xl font-bold">Ventas</h1>
            <div class="flex space-x-4">
                <!-- Filtros por ID de Pedido, ID de Mesa, Estado -->
                <div class="relative">
                    <input type="text" id="filtroPedidoId" placeholder="ID de Pedido" class="px-2 py-1 pr-8 border border-gray-300 rounded-lg text-gray-800">
                    <button onclick="limpiarFiltro('filtroPedidoId')" class="absolute right-2 top-1/2 transform -translate-y-1/2 px-2 py-1 rounded-lg bg-gray-300 text-gray-700 hover:bg-gray-400 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="relative">
                    <input type="text" id="filtroMesaId" placeholder="ID de Mesa" class="px-2 py-1 pr-8 border border-gray-300 rounded-lg text-gray-800">
                    <button onclick="limpiarFiltro('filtroMesaId')" class="absolute right-2 top-1/2 transform -translate-y-1/2 px-2 py-1 rounded-lg bg-gray-300 text-gray-700 hover:bg-gray-400 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="relative">
                    <select id="filtroEstado" class="px-2 py-1 border border-gray-300 rounded-lg text-gray-800">
                        <option value="">Estado</option>
                        <option value="Cancelado">Cancelado</option>
                        <option value="Pendiente">Pendiente</option>
                        <!-- Otras opciones de estado -->
                    </select>
                    <button onclick="limpiarFiltro('filtroEstado')" class="px-2 py-1 rounded-lg bg-gray-300 text-gray-700 hover:bg-gray-400 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <button onclick="aplicarFiltros()" class="px-4 py-2 bg-blue-500 text-white rounded-lg">Aplicar</button>
            </div>
        </div>

        <!-- Tabla de Pedidos con scroll -->
        <div class="p-4 tabla-scroll">
            <table id="tablaPedidos" class="table-auto w-full bg-white shadow-md rounded-lg overflow-hidden">
                <thead class="bg-gray-200 text-gray-700">
                    <tr>
                        <th class="px-4 py-2 text-left">ID de Pedido</th>
                        <th class="px-4 py-2 text-left">ID de Mesa</th>
                        <th class="px-4 py-2 text-left">Fecha del Pedido</th>
                        <th class="px-4 py-2 text-left">Estado</th>
                        <th class="px-4 py-2 text-right">Total</th>
                    </tr>
                </thead>
                <tbody class="text-gray-600">
                    @foreach (var pedido in Model.Pedidos)
                    {
                        <tr class="hover:bg-gray-100" onclick="mostrarDetalle(@pedido.PedidoId)">
                            <td class="border px-4 py-2">@pedido.PedidoId</td>
                            <td class="border px-4 py-2">@pedido.MesaId</td>
                            <td class="border px-4 py-2">@pedido.FechaPedido.ToShortDateString()</td>
                            <td class="border px-4 py-2">@pedido.Estado</td>
                            <td class="border px-4 py-2 text-right">@pedido.Total.ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function aplicarFiltros() {
        var filtroPedidoId = document.getElementById('filtroPedidoId').value.trim();
        var filtroMesaId = document.getElementById('filtroMesaId').value.trim();
        var filtroEstado = document.getElementById('filtroEstado').value.trim();

        var tablaPedidos = document.getElementById('tablaPedidos').getElementsByTagName('tbody')[0];
        var filas = tablaPedidos.getElementsByTagName('tr');

        for (var i = 0; i < filas.length; i++) {
            var mostrarFila = true;
            var pedidoId = filas[i].getElementsByTagName('td')[0].innerText.trim();
            var mesaId = filas[i].getElementsByTagName('td')[1].innerText.trim();
            var estado = filas[i].getElementsByTagName('td')[3].innerText.trim();

            if (filtroPedidoId && pedidoId.indexOf(filtroPedidoId) === -1) {
                mostrarFila = false;
            }
            if (filtroMesaId && mesaId.indexOf(filtroMesaId) === -1) {
                mostrarFila = false;
            }
            if (filtroEstado && estado !== filtroEstado) {
                mostrarFila = false;
            }

            if (mostrarFila) {
                filas[i].style.display = "";
            } else {
                filas[i].style.display = "none";
            }
        }
    }

    function limpiarFiltro(idFiltro) {
        document.getElementById(idFiltro).value = "";
        aplicarFiltros(); // Llamar a aplicarFiltros después de limpiar el filtro
    }

    function mostrarDetalle(pedidoId) {
        // Redirigir a la acción de detalle del pedido
        window.location.href = '/PedidoDetalle/Index?pedidoId=' + pedidoId;
    }

</script>
