@model FogonParillero.ViewModel.InsumoViewModel
@{
    ViewData["Title"] = "Insumo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex h-screen">
    @Html.Partial("_MenuLateral")

    <div class="flex-1 flex flex-col">
        <div class="bg-transparent-800 text-black p-4 flex justify-between items-center">
            <div class="flex">
                <a href="/insumo" class="text-xl mr-12 ml-6 font-bold text-gray-700">Insumos</a>
                <a href="/categoriainsumo" class="text-xl mr-12 font-bold text-gray-700 opacity-60">Categorías</a>
            </div>
            <button type="button" data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="px-5 py-2.5 rounded-full text-sm font-medium text-white inline-flex items-center bg-green-700 hover:bg-green-800 focus:ring-2 focus:outline-none focus:ring-green-300 text-center">
                <svg class="w-3 h-3 text-white me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                    <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                    <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                </svg>
                Nuevo Insumo
            </button>
        </div>

        <div class="bg-gray-300 h-px w-full"></div>


        <div id="eliminar-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <div class="relative bg-white rounded-lg shadow">
                    <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="eliminar-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Cerrar modal</span>
                    </button>
                    <div class="p-4 md:p-5 text-center">
                        <svg class="mx-auto mb-4 text-gray-400 w-12 h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        <h3 class="mb-5 text-lg font-normal text-gray-500">Estas seguro que quieres eliminar este Insumo?</h3>
                        <form asp-action="Eliminar" method="post">
                            <input type="hidden" id="productoIdEliminar" name="id" value="" />
                            <button data-modal-hide="eliminar-modal" type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                                Confirmar
                            </button>
                            <button data-modal-hide="eliminar-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Main modal -->
        <div id="editar-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-lg">
                        <h3 class="text-2xl font-bold text-gray-454545">
                            Editar Insumo
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-toggle="editar-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Cerrar modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <form class="p-4 md:p-5" asp-action="Actualizar" method="post">
                        <input type="hidden" id="insumoIdEditar" name="insumoIdEditar" value="" />
                        <div class="grid gap-4 mb-4">

                            <div class="flex items-center">
                                <label for="nombreinsumo" class="block text-gray-454545 font-medium mr-7 mb-2 text-sm">Nombre <span class="text-red-500">*</span></label>
                                <input type="text" id="nombreinsumo2" name="nombreProducto" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-48 ml-10 p-2.5" placeholder="Ingrese el nombre" required="">
                            </div>
                            <div class="flex items-center">
                                <label for="cantidad" class="block text-gray-454545 font-medium mr-0 mb-2 text-sm">Cantidad <span class="text-red-500">*</span></label>
                                <input type="text" id="cantidad2" name="precioVenta" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-48 ml-10 p-2.5" placeholder="0.00" required="">
                            </div>
                            <div class="flex items-center">
                                <label for="categoriaInsumoId" class="block text-gray-454545 font-medium mr-5 mb-2 text-sm">Categoria Insumo <span class="text-red-500">*</span></label>
                                <select id="categoria2" name="categoriaInsumoId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-48 ml-10 p-2.5 ">
                                    <option selected="">Ninguna</option>
                                    @if (Model.Categorias != null)
                                    {
                                        @foreach (var categoria in Model.Categorias)
                                        {
                                            <option value="@categoria.CategoriaId">@categoria.Nombre</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="flex items-center">
                                <label for="UnidadId" class="block text-gray-454545 font-medium mr-5 mb-2 text-sm">Unidad <span class="text-red-500">*</span></label>
                                <select id="unidad2" name="UnidadId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-48 ml-10 p-2.5 ">
                                    <option selected="">Ninguna</option>
                                    @if (Model.Unidades != null)
                                    {
                                        @foreach (var unidad in Model.Unidades)
                                        {
                                            <option value="@unidad.UnidadId">@unidad.Nombre</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="flex items-center">
                                <label for="descripcion" class="block text-gray-454545 font-medium mr-4 mb-2 text-sm">Descripción</label>
                                <textarea id="descripcion2" name="descripcion" rows="4" class="block text-gray-454545 ml-10 p-2.5 w-48 text-sm bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Ingrese la descripción"></textarea>
                            </div>
                            <div class="flex items-center">
                                <label for="imagenUrl" class="block text-gray-454545 font-medium mr-11 mb-2 text-sm">Imagen</label>
                                <div class="flex items-center justify-center w-24 h-24 rounded-lg border border-gray-300 bg-gray-100 mr-2 ml-10">
                                    <img id="dropzone-image2" class="hidden w-full h-full rounded-lg" src="" alt="Vista previa de la imagen">
                                </div>
                                <input type="hidden" id="imagenUrl2" name="imagenUrl" />
                                <label for="dropzone-file2" class="items-center justify-center">
                                    <p class="mb-2 text-sm text-blue-500 hover:text-blue-700"><span class="font-semibold">Subir imagen</span></p>
                                    <input id="dropzone-file2" type="file" class="hidden" accept=".png, .jpg, .jpeg" />
                                </label>
                            </div>

                        </div>

                        <div class="flex justify-end space-x-2 mt-8">
                            <button type="button" data-modal-toggle="editar-modal" class="text-white inline-flex items-center bg-red-700 hover:bg-red-800 focus:ring-2 focus:outline-none focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center">
                                <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                                Cancelar
                            </button>
                            <button type="submit" class="text-white inline-flex items-center bg-green-700 hover:bg-green-800 focus:ring-2 focus:outline-none focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center">
                                <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <!-- Main modal -->
        <div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-lg">
                        <h3 class="text-2xl font-bold text-gray-454545">
                            Nuevo Insumo
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-toggle="crud-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Cerrar modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <form class="p-4 md:p-5" asp-action="Registrar" method="post">
                        <div class="grid gap-4 mb-4">
                            <div class="flex items-center">
                                <label for="nombreinsumo" class="block text-gray-454545 font-medium mr-7 mb-2 text-sm">Nombre <span class="text-red-500">*</span></label>
                                <input type="text" name="nombreinsumo" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-48 ml-10 p-2.5" placeholder="Ingrese el nombre" required="">
                            </div>
                            <div class="flex items-center">
                                <label for="cantidad" class="block text-gray-454545 font-medium mr-0 mb-2 text-sm">Cantidad <span class="text-red-500">*</span></label>
                                <input type="text" name="cantidad" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-48 ml-10 p-2.5" placeholder="0.00" required="">
                            </div>
                            <div class="flex items-center">
                                <label for="categoriaInsumoId" class="block text-gray-454545 font-medium mr-5 mb-2 text-sm">Categoria Insumo <span class="text-red-500">*</span></label>
                                <select name="categoriaInsumoId" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-48 ml-10 p-2.5 ">
                                    <option selected="">Ninguna</option>
                                    @if (Model.Categorias != null)
                                    {
                                        @foreach (var categoria in Model.Categorias)
                                        {
                                            <option value="@categoria.CategoriaId">@categoria.Nombre</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="flex items-center">
                                <label for="UnidadId" class="block text-gray-454545 font-medium mr-5 mb-2 text-sm">Unidad <span class="text-red-500">*</span></label>
                                <select name="UnidadId" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-48 ml-10 p-2.5 ">
                                    <option selected="">Ninguna</option>
                                    @if (Model.Unidades != null)
                                    {
                                        @foreach (var unidad in Model.Unidades)
                                        {
                                            <option value="@unidad.UnidadId">@unidad.Nombre</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="flex items-center">
                                <label for="descripcion" class="block text-gray-454545 font-medium mr-4 mb-2 text-sm">Descripción</label>
                                <textarea name="descripcion" rows="4" class="block text-gray-454545 ml-10 p-2.5 w-48 text-sm bg-gray-100 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Ingrese la descripción"></textarea>
                            </div>
                            <div class="flex items-center">
                                <label for="imagenUrl" class="block text-gray-454545 font-medium mr-11 mb-2 text-sm">Imagen</label>
                                <div class="flex items-center justify-center w-24 h-24 rounded-lg border border-gray-300 bg-gray-100 mr-2 ml-10">
                                    <img id="dropzone-image" class="hidden w-full h-full rounded-lg" src="#" alt="Vista previa de la imagen">
                                </div>
                                <input type="hidden" id="imagenUrl" name="imagenUrl" />
                                <label for="dropzone-file" class="items-center justify-center">
                                    <p class="mb-2 text-sm text-blue-500 hover:text-blue-700"><span class="font-semibold">Subir imagen</span></p>
                                    <input id="dropzone-file" type="file" class="hidden" accept=".png, .jpg, .jpeg" />
                                </label>
                            </div>

                        </div>
                        <div class="flex justify-end space-x-2 mt-8">
                            <button type="button" data-modal-toggle="crud-modal" class="text-white inline-flex items-center bg-red-700 hover:bg-red-800 focus:ring-2 focus:outline-none focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center">
                                <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                                Cancelar
                            </button>
                            <button type="submit" class="text-white inline-flex items-center bg-green-700 hover:bg-green-800 focus:ring-2 focus:outline-none focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center">
                                <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <main class="p-10 flex-1">



            @if (Model.Insumos != null)
            {
                <div class="p-10 flex justify-center items-center">
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left text-gray-500 text-center">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-12 py-3">
                                        Nombre
                                    </th>
                                    <th scope="col" class="px-12 py-3">
                                        Cantidad
                                    </th>
                                    <th scope="col" class="px-12 py-3">
                                        Categoria
                                    </th>
                                    <th scope="col" class="px-12 py-3">
                                        Unidad
                                    </th>
                                    <th scope="col" class="px-16 py-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                                        </svg>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var insumo in Model.Insumos)
                                {
                                    <tr class="bg-white border-b hover:bg-gray-50">
                                        <th scope="row" class="px-12 py-4 font-medium text-gray-454545 whitespace-nowrap">
                                            @insumo.Nombre
                                        </th>
                                        <td class="px-12 py-4">
                                            @insumo.Cantidad
                                        </td>
                                        <td class="px-12 py-4">
                                            @insumo.Categoria.Nombre

                                        </td>
                                        <td class="px-12 py-4">
                                            @insumo.Unidad.Nombre
                                        </td>
                                        <td class="px-12 py-4">
                                            <div class="flex items-center">
                                                <svg data-id="@insumo.InsumoId" data-modal-target="editar-modal" data-modal-toggle="editar-modal" class="w-6 h-6 stroke-yellow-500 hover:stroke-yellow-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                                </svg>
                                                <svg data-id="@insumo.InsumoId" data-modal-target="eliminar-modal" data-modal-toggle="eliminar-modal" class="w-6 h-6 stroke-red-500 hover:stroke-red-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                                </svg>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="flex flex-col justify-center items-center h-full">
                    <p class="text-center mb-4 text-gray-700">No hay ningún Insumo para mostrar.</p>
                    <img src="~/iconos/paquete.svg" alt="Icono de producto" class="w-60 h-60">
                </div>
            }

        </main>
    </div>
</div>

@section Scripts {
    <script>

        const dropzoneFileInput = document.getElementById('dropzone-file');
        const dropzoneFileInput2 = document.getElementById('dropzone-file2');
        const dropzoneImage = document.getElementById('dropzone-image');
        const dropzoneImage2 = document.getElementById('dropzone-image2');
        const imagenUrlInput = document.getElementById('imagenUrl');
        const imagenUrlInput2 = document.getElementById('imagenUrl2');
        let productoSeleccionadoIdEliminar = null
        let productoSeleccionadoIdEditar = null

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('svg[data-modal-toggle="eliminar-modal"]').forEach(function (svg) {
                svg.addEventListener("click", function () {
                    productoSeleccionadoIdEliminar = this.getAttribute("data-id");
                    document.getElementById("productoIdEliminar").value = productoSeleccionadoIdEliminar;
                });
            });
            document.querySelectorAll('svg[data-modal-toggle="editar-modal"]').forEach(function (svg) {
                svg.addEventListener("click", function () {
                    var productoSeleccionadoIdEditar = this.getAttribute("data-id");
                    document.getElementById("insumoIdEditar").value = productoSeleccionadoIdEditar;

                    $.ajax({
                        url: '/Insumo/Detalle/' + productoSeleccionadoIdEditar,
                        method: 'GET',
                        success: function (data) {
                            $('#nombreinsumo2').val(data.nombre);
                            $('#descripcion2').val(data.descripcion);
                            $('#cantidad2').val(data.cantidad);
                            $('#categoria2').val(data.categoriaInsumoId);
                            $('#unidad2').val(data.unidadId);

                            if (data.imagen) {
                                $('#dropzone-image2').attr('src', 'data:image/png;base64,' + data.imagen).removeClass('hidden');
                            } else {
                                $('#dropzone-image2').addClass('hidden');
                            }
                            $('#imagenUrl2').val(data.imagen);
                        },
                        error: function () {
                            alert('Error al obtener los datos del producto.');
                        }
                    });
                });
            });
        });

        dropzoneFileInput.addEventListener('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function () {
                    dropzoneImage.src = reader.result;
                    dropzoneImage.classList.remove('hidden');
                    const imageUrlWithoutPrefix = reader.result.split(',')[1];
                    imagenUrlInput.value = imageUrlWithoutPrefix;

                }
                reader.readAsDataURL(file);
            } else {
                dropzoneImage.src = '#';
                dropzoneImage.classList.add('hidden');
                imagenUrlInput.value = '';
            }
        });

        dropzoneFileInput2.addEventListener('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function () {
                    dropzoneImage2.src = reader.result;
                    dropzoneImage2.classList.remove('hidden');
                    const imageUrlWithoutPrefix = reader.result.split(',')[1];
                    imagenUrlInput2.value = imageUrlWithoutPrefix;

                }
                reader.readAsDataURL(file);
            } else {
                dropzoneImage2.src = '#';
                dropzoneImage2.classList.add('hidden');
                imagenUrlInput2.value = '';
            }
        });
    </script>
}

